body{
    font-family: "poppins", sans-serif;
    min-height: 100vh;
    background-color: cadetblue;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 40px;
    color: rgb(29, 188, 26);
    border: 10px solid #000000;
    background: linear-gradient(45deg, black, transparent);
}

img{
    background-color: beige;
    display: block;
    position: relative;
    left: 450px;

    text-align: center;
    font-size: 40px;
    color: rgb(29, 188, 26);
    border: 10px solid #000000;
    background: linear-gradient(45deg, black, transparent);
}

h3{
    text-align: center;
    font-size: 40px;
    color: rgb(29, 188, 26);
    border: 10px solid #000000;
    background: linear-gradient(45deg, black, transparent);
}